{% extends 'base.html' %}

{% block title %}Заявки{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center">Детали заявления</h1>
    <div class="border p-3 my-4">
        <h2>{{ application.car_number }}</h2>
        <p>{{ application.description }}</p>
        <p>Статус: {{ application.get_status_display }}</p>
        <p>Дата подачи: {{ application.date_of_submission }}</p>
        <!-- Дополнительная информация -->
    </div>
</div>

{% endblock %}