{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-center  py-5 ">
                <div class="col-lg-6">
                    <img src="" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                        loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-4 fw-bold lh-1 mb-3">
                        <i class="fas fa-shield-alt"></i> Нарушениям.Нет
                    </h1>
                    <p class="lead">
                        Текст о защите от нарушений.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}